.sidebar {
    width: 250px;
    transition: width 0.3s ease, box-shadow 0.3s ease;
    background: #2c3e50;
    color: #ecf0f1;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.6);
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .sidebar.collapsed {
    width: 60px;
    box-shadow: none;
  }
  
  .sidebar-sticky {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar-logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .logo-image {
    width: 65%;
    height: auto;
    max-width: 140px;
    object-fit: contain;
    border-radius: 12px;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease;
  }
  
  .sidebar:not(.collapsed) .logo-image:hover {
    transform: scale(1.1);
  }
  
  .collapse-button {
    background: none;
    border: none;
    color: #ecf0f1;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .collapse-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .collapse-button i {
    font-size: 1.2rem;
  }
  
  .sidebar-nav {
    flex-grow: 1;
  }
  
  .nav-link {
    padding: 1rem;
    border-bottom: 1px solid #444;
    color: #ecf0f1;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: inset 2px 0 5px rgba(0, 0, 0, 0.3);
    color: #ecf0f1;
  }
  
  .nav-link.active {
    background-color: #34495e;
    box-shadow: inset 3px 0 6px rgba(0, 0, 0, 0.4);
    color: #ecf0f1;
  }
  
  .nav-item-content {
    display: flex;
    align-items: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-item-text {
    transition: opacity 0.3s ease, transform 0.2s ease-in-out;
  }
  
  .sidebar.collapsed .nav-item-text {
    opacity: 0;
  }
  
  /* Ajuste proporcional del logo */
  .sidebar:not(.collapsed) .logo-image {
    width: 65%;
    height: auto;
    max-width: 90px;
  }
  
  .sidebar.collapsed .logo-image {
    width: 45px;
    height: 45px;
  }
  
  /* Efecto de agrandar iconos en hover */
  .nav-link:hover .bi {
    transform: scale(1.2);
  }
  
  /* Efecto de agrandar texto en hover */
  .nav-link:hover .nav-item-text {
    transform: scale(1.1);
  }